*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* HEADER */
header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    color: white;
    background-color: rgb(255, 106, 0);
}
.flex-centered{
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header-container{
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

nav>ul{
    list-style-type: none;
    display: flex;
    gap: .5em;
}
.header-nav>li{
    font-weight: 500;
}

#logo{
    width: 200px;
}

span>i{
    margin-right: .2em;
}

header nav,
#logo,
.header-icons{
    align-content: center;
}

/* MAIN */

main{
    padding: 3em;
}

section.row{
    display: flex;
    justify-content: space-around;
    padding-bottom: 3em;
}
.row{
    width: 100%;
}
.products{
    width: 33%;
    position: relative;
}
.back{
    display: none;
}
.products>img{
    height: auto;
    object-fit: contain;
    width: 100%;
}
/*  MAIN --> TAGS */
.tags{
    position: absolute;
    top: 75%;
    color: white;
}

.discount{
    padding: .2em;
    background-color: red;
}

.eco{
    padding: .2em;
    background-color: green;
}

#heart{
    background-color: white;
    position: absolute;
    top: 5%;
    right: 0;
    font-size: 2em;
    padding: .2em;
}

#heart:hover{
    color: red;
}

/* MAIN --> product info */
.brand,
.product-title{
    display: block;
}

.product-title{
    font-weight: bold;
    text-transform: uppercase;
}

.price-red{
    font-size: .8em;
    color: red;
    font-weight: bolder;
}

.price-black{
    text-decoration:line-through;
}
.products:hover .front{
    display:none
}

.products:hover .back{
    display: block;
}

/* 

.back {
    z-index: ;
}

.front {
    z-index: 2
}

.products:hover .front{
    z-index: 1
}

.products:hover .back{
    z-index: 2
}

.tags {

}

*/
/* FOOTER */
footer{
    font-weight: bold;
    padding: 3em;
    color: white;
    background-color: black;
}
.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-icons>i{
    margin-right: .6em;
}